@using Comptes_WebAPI.Models
@model List<Account>
@{
    ViewData["Title"] = "List Accounts";
}

@*<h2>Register New User</h2>*@

<div class="container" style="height:700px">
    
    <a asp-action="Create"style="margin-top:10px" class="btn btn-sm btn-outline-primary">New Account</a>
    
    <h2 style="margin-top:20px">List of All Account</h2>
    <div class="card" style="margin-top:20px">
        <div class="card-header text-white bg-secondary">
            [Total: @Model.Count Accounts]
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Registration Date</th>
                    <th>Last Login Date</th>
                </tr>
                @foreach (var account in Model)
                {
                    <tr>
                        <td>@account.Name</td>
                        <td>@account.Username</td>
                        <td>@account.Email</td>
                        <td>@account.RegistrationDateTime.ToShortDateString()</td>
                        <td>@account.LastLoginDateTime.ToShortDateString()</td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>